body {
    font family:arial,san serif;
    margin:0;
    padding:0;
    background: #f4f4f4;
    text align:center;
}
header{
    padding:10px 20px;
    margin top:10px;
    cursor:pointer;
    border:none;
    background:#007BFF;
    colour:white;
    border radius:5px;
}
button:hover{
    background:#0056b3;
}
section{
    padding:30px;
}